.courses {
    margin-top: $mg-2;
    margin-bottom: $mg-2;
    .courses__content {
        width: 92%;
        margin: auto;
        .courses__intro {
            width: 100%;
            height: 94%;
            background: #f7f8fa;
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            justify-content: center;
            margin-top: 12px;
            padding: 0 32px;
            h3 {
                @include styleText($color-black-0, $fs-2 - 1, $fw-bold-1);
            }
            p {
                @include styleText($color-black-0, $fs-0 + 1, $fw-normal);
            }
        }

        .courses__navTabs {
            .container {
                padding: 0;
            }
            .nav {
                margin-bottom: 16px;
                border-bottom: 1px solid $color-gray-6;
                flex-wrap: nowrap;
                .nav-item {
                    .nav-link {
                        border: none;
                        @include styleText($color-black-0, $fs-0, $fw-normal);
                    }

                    &:hover {
                        color: $color-blue-2;
                        border: none;
                    }

                    .nav-link.active {
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                }
            }
            .owl-next, .owl-prev {
                top: 35%;
            }
            .tab-content {
                position: relative;

                .card {
                    border-radius: 0;
                    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
                }
                .card-title {
                    @include styleText($color-black-0, $fs-0, $fw-bold-1);
                    margin-bottom: $mg-1;
                }
                .card-text {
                    @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
                    margin-bottom: $mg-1 + 4;
                }
                .courses__rating {
                    display: flex;
                    .courses__star{
                        margin-right: $mg-1 - 5;
                        @include styleText($color-yellow, $fs-1, $fw-normal);
                    }
                    span:nth-child(2) {
                        margin-right: $mg-1 - 5;
                        @include styleText($color-black-0, $fs-1, $fw-bold-1);
                    }
                    span:last-child {
                        @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
                    }
                }
                .courses__price {
                    text-align: right;
                    .old-price {
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                        text-decoration: line-through;
                        margin-right: $mg-1;
                    }
                    .new-price {
                        @include styleText($color-black-0, $fs-2 - 2, $fw-bold-1);
                    }
                }
            }
        }
    }
}

.courses {
@include responsive('extra-large') {
    .courses__content {
        .courses__navTabs {
            .owl-next {
                right: -4%;
            }
            .owl-prev {
                left: -4%;
            }
        }
    }
}
@include responsive('medium') {
    .courses__content {
        .courses__navTabs {
            .owl-next {
                right: -5%;
            }
            .owl-prev {
                left: -5%;
            }
        }
    }
}
@include responsive('small') {
    .courses__content {
        .courses__navTabs {
            .owl-next {
                right: -6%;
            }
            .owl-prev {
                left: -6%;
            }
        }
    }
}
}